:root {
  --main-color: orange;
  --main-bg-color: white;
}

.btn {
  border-radius: 20px;
  font-size: 1.2rem;
  color: var(--main-color);
  background: #ffffff;
  border: solid 2px orange;
  padding: 10px 50px;
}

.btn-filled {
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  background: #f0660a;
  padding: 10px 20px;
}

.btn-test {
  border-radius: 20px;
  font-size: 1.2rem;
  color: var(--main-color);
  background-color: var(--main-bg-color) white;
}
