.card {
  max-width: 88px;
}

.card-body {
  background: white;
  align-items: center;
  text-align: center;
  font-weight: 100;
}

.card-img-top {
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  width: 88px;
  height: 88px;
  margin-top: 0px;
  padding-top: 0px;
}

.card-text {
  font-weight: 700;
  margin-top: 0;
}

.card-container {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  column-gap: 10px;
  padding: 10px;
  overflow-x: auto;
  justify-content: start;
}

.card-container::after {
  content: "";
  width: 1px;
}

.card-container::-webkit-scrollbar {
  display: none;
}
