.welcome {
  background-image: url("../../assets/Background\ icons.svg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fooddelivery {
  text-align: center;
}

#headline {
  color: orange;
}

.welcome > * {
  margin: 0;
}
